html {
  margin: 0;
  height: auto;
  font-family: "adelle pe", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

body {
  padding: 0.5em;
  color: #444;
}

p {
  margin-top: 0.3em;
  margin-bottom: 0.7em;
}

ul {
  margin-top: 0em;
  margin-bottom: 1em;
}

li {
  padding-left: 0.5em;
  margin-bottom: 0.2em;
}

section.level1 h1 {
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 0.3em;
  float: left;
  color: #a1a9ad;
}

section.level1 .level2,
section.level1 > p {
  margin-left: 180px;
}

section.level1 {
  margin-bottom: 1.5em;
}

section.level2 {
  margin-bottom: 1em;
}

#chong-han-chua {
  margin-bottom: 2.3em;
}

#chong-han-chua h1 {
  color: #444;
  float: none;
  margin-bottom: 0.5em;
  font-size: 150%;
  display: block;
}

#chong-han-chua ul {
  list-style: none;
  padding: 0;
}

#chong-han-chua ul li {
  padding: 0;
}

#experience .level2 {
  margin-bottom: 1.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  margin-bottom: 0em;
}

a {
  text-decoration: none;
  color: #2152c4;
}

h2 {
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 0.25em;
  white-space: nowrap;
}

h2 + p:first-of-type {
  display: inline-block;
  color: #a1a9ad;
  margin-left: 0.8em;
  margin-top: 0;
  margin-bottom: 0em;
  overflow: visible;
  white-space: nowrap;
}
