html,
body {
  margin: 0;
  padding: 0;
  height: auto;
  font-family: "Fira", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
}

body {
  padding: 0.5em;
  color: #161E28;
}

p {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

ul {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-left: 0em;
  padding-inline-start: 25px;
  padding-left: 25px;
}

li {
  padding-left: 0em;
  margin-bottom: 0.2em;
  margin-left: 0em;
}

section.level1 h1 {
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 0.3em;
  float: left;
  color: #3A4F69;
}

section.level1 .level2,
section.level1 > p {
  margin-left: 150px;
}

section.level1 {
  margin-bottom: 1em;
}

section.level2 {
  margin-bottom: 1em;
}

#chong-han-chua {
  margin-bottom: 1.5em;
}

#chong-han-chua h1 {
  color: #161E28;
  float: none;
  margin-bottom: 0.5em;
  font-size: 150%;
  display: block;
  margin-left: 0;
}

#chong-han-chua ul {
  list-style: none;
  padding: 0;
}

#chong-han-chua ul li {
  padding: 0;
}

#experience .level2 {
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  margin-bottom: 0em;
  margin-top: 0;
}

a {
  /* text-decoration: underline;
  text-decoration-color: #28C37E;
  color: #3A4F69; */
  text-decoration: none;
  color: #28C37E;
}

h2 {
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 0.2em;
  white-space: nowrap;
}

h2 + p:first-of-type {
  display: inline-block;
  color: #263241;
  margin-left: 0.8em;
  margin-top: 0;
  margin-bottom: 0em;
  overflow: visible;
  white-space: nowrap;
}

table {
  width: 100%;
  margin-bottom: 0;
}

table td:first-of-type {
  width: 20px;
}
